/lesson4/target/
/.idea/
/lesson2/.idea/
/lesson3/target/
/lesson3/.idea/
/lesson4/.idea/
/lesson5/target/
/lesson5/.idea/
/lesson6/target/
/lesson6/.idea/
/lesson1/D/server14-v2/.idea/
/lesson1/D/server14-v2/server14.iml
