:root {
    --border-color: rgb(185, 185, 185);
    --border-radius: 6px;
    --black-color: #333;
    --caption-color: #3B5998;
    --grey-color: #888888;
    --border-width: 1px;
    --light-grey: #E1E1E1;
    --shift: 11rem;
    --pad: 1rem;
    color: var(--black-color);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

html {
    padding: 1rem;
    min-width: 90rem;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

header {
    position: relative;
}

header .languages {
    position: absolute;
    top: 0;
    right: 0;
}

header .enter-or-register-box {
    position: absolute;
    top: 32px;
    right: 0;
}

header nav {
    position: relative;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.75rem 0.25rem;
    margin-top: 1rem;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-family: "Arial Narrow", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}


header nav .search input {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    border: 1px solid #d4d4d4;
    background: #f4f4f4 url("../img/search-16x16.png") 2px 2px no-repeat;
    padding-left: 1.6rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    height: 1rem;
    width: 10rem;
    font-size: small;
}

.middle {
    margin-top: 1rem;
    overflow: auto;
}

aside {
    float: right;
    width: 20rem;
}

main {
    margin-right: 21rem;
}

main .caption {
    margin: 0;
    padding: 0.3rem;
    box-sizing: border-box;
    background-color: #E1E1E1;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 100%;
}

main .datatable, table {
    border-spacing: 0;
    width: 100%;
}

main table, td, th, tr {
    border: var(--border-width) solid var(--light-grey);
    border-collapse: collapse;
    font-size: 0.85rem;
    padding: 0.3rem;
    text-align: center;
}


main .datatable table tbody > :nth-child(2n-1) {
    background: #F8F8F8;
}


main article .title {
    color: var(--caption-color);
    font-weight: bold;
    font-size: 1.6rem;
}

main article .information {
    color: var(--grey-color);
}

main article .body {

    padding-left: 1rem;
    border-left-style: solid;
    border-left-color: #B9B9B9;
    border-left-width: 0.3rem;
}

main article .attachment {
    padding-left: 0;
    list-style: none;
    color: var(--grey-color);
    font-size: small;
}

main article .attachment li {
    background: url("../img/paperclip-16x16.png") 2px 2px no-repeat;
    padding-left: 1.6rem;
    padding-bottom: 0.2rem;
}

main article .footer {

    border: var(--border-width) solid #d4d4d4;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    position: relative;
    bottom: 0.4rem;
    height: 1.7rem;
}

main article .footer div {
    display: inline-flex;
    align-items: center;
}

main article .footer .left {
    color: #008000;
    position: absolute;
    top: 0.6rem;

    font-weight: bold;
    font-size: 1.3rem;
}

main article .footer .right {
    position: absolute;
    right: 1rem;
    top: 0.8rem
}

main article .footer img {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

footer {
    margin-top: 2rem;
    border-top: var(--border-width) solid var(--border-color);
    padding-top: 0.5rem;
    text-align: center;
}

aside section {
    border: var(--border-width) solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

aside section .header {
    border-bottom: var(--border-width) solid var(--border-color);
    padding: 0.25rem;
    font-weight: bold;
    color: var(--caption-color);
}

aside section .header:before {
    content: "→";
}

aside section .body {
    padding: 1rem;
}

aside section .footer {
    border-top: var(--border-width) solid var(--border-color);
    overflow: auto;
    padding: 0.25rem;
}

aside section .footer a {
    float: right;
    font-size: 0.75rem;
}

aside section .footer a:after {
    content: " →";
}



main .login-form-box {
    margin: 0 auto;
    border: var(--border-width) solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    /*min-width: calc(11rem + 10rem + 9rem);*/
    min-width: 20rem;
    width: 30rem;
    max-width: 100%;
    max-height: 100%;
    /*min-width: 100%;*/

}

main .login-form-box .header {
    padding: 0.25rem;
    border-bottom: var(--border-width) solid var(--border-color);
    color: var(--caption-color);
    font-weight: bold;
    text-align: left;
}


main .body form > div {
    margin-top: 1.3rem;
}

main .login-form-box .body form {
    display: table;
    /*max-width: 100%;*/
    width: 100%;
    /*max-width: 10rem;*/
}

main .login-form-box .body .field .name,
main .login-form-box .body .field .value {
    min-width: var(--shift);
    display: table-cell;
}


main .login-form-box .body .field .name {
    padding-right:  var(--pad);
    text-align: right;
}

main .login-form-box .body .field .error {
    text-align: left;
    width: 10rem;
}

main .login-form-box .body form .field .value input {
    border: var(--border-width) solid var(--border-color);
    min-width: 10rem;
}

main .login-form-box .body form .checkbox-field,
main .login-form-box .body form .button-field,
main .login-form-box .body form .field .error {
    margin-left: calc(var(--shift) + var(--pad))

}

main .login-form-box .body form .links,
main .login-form-box .body form .field .error,
main .login-form-box .body form .checkbox-field,
main .login-form-box .footer a {
    font-size: 0.8rem;
}

main .login-form-box .body form .field .error {
    color: red;
    display: inline-flex;
}

main .login-form-box .body form .button-field input {
    padding: 0.3rem 1.5rem;
}


main .login-form-box .body form .links {
    margin-top: 0;
    text-align: right;

}

main .login-form-box .body form .links a {
    padding: 0.2rem;
}

main .login-form-box .footer {
    display: flow-root;
    border-top: var(--border-width) solid var(--border-color);
}

main .login-form-box .footer a {
    float: right;
    margin-left: 0.5rem;
    padding: 0.2rem;

}